<%- include('../partials/header.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Twitter</h1>
            <p class="lead">This is a Twitter clone created to highlight my capabilities and knowledge in using Express.
            </p>
        </div>
        <tbody>
                <a>
                    <%= user.username %>
                </a>
        </tbody>
    </div>
    <%- include('../partials/footer.ejs') %>