<%- include('../partials/header.ejs') %>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Profile</h1>
            <p class="lead">This is the future profile page.</p>
        </div>
    </div>
<%- include('../partials/footer.ejs') %>